@model System.Collections.Generic.IEnumerable<Dapper.Project.Core.Entity.Suppliers>

<h2>Suppliers</h2>
<a class="btn btn-success" href="@Url.Action("Create")">Create New</a>

<table class="table">
    <thead>
    <tr>
        <th>Supplier ID</th>
        <th>Product ID</th>
        <th>Suppliers Product Brand</th>
        <th>Suppliers Communication Information</th>
        <th>Suppliers Address</th>
        <th>Suppliers Iban</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var suppliers in Model)
    {
        <tr>
            <td>@suppliers.id</td>
            <td>@suppliers.product_id</td>
            <td>@suppliers.suppliers_product_brand</td>
            <td>@suppliers.suppliers_communication_information</td>
            <td>@suppliers.suppliers_address</td>
            <td>@suppliers.suppliers_iban</td>
            <td>
                <a asp-action="Edit" asp-controller="Suppliers" asp-route-id="@suppliers.id" class="btn btn-primary">Edit</a>
                <a asp-action="Delete" asp-controller="Suppliers" asp-route-id="@suppliers.id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>