@model Dapper.Project.Core.Entity.Finance

<h2>Delete Confirmation</h2>

<h3>Are you sure you want to delete this record?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Sales Titles ID:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sales_titles_id)
        </dd>
        <dt>
            Suppliers ID:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.suppliers_id)
        </dd>
        <dt>
            Finance Date:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.finance_date)
        </dd>
        <dt>
            Finance Earnings:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.finance_earnings)
        </dd>
        <dt>
            Finance Commissions:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.finance_commissions)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>